/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(243, 246, 248);
  font-family: 'Roboto', sans-serif;
}
ul {
  margin-top: 1rem;
  width: 100%;
  height: 20vh;
  overflow: auto;
}
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: .3rem;
  width: 100%;
  padding: .3rem;
  box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06) ;
}

.btnEliminar, .btnEditar{
  background-color: #37b84d63;
  padding: .5rem;
  border: none;
  margin-right: .3rem;
  cursor: pointer;
}
.miColor{
  color: #f44744;
  
}
a {
  text-decoration: none;
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

a:hover {
  transition: all 0.5s ease;
  color: #557233;
}

.container {
  padding-top: 1rem;
  width: 98%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

/* estilo de la imagen */
img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.imgLogin {
  border-radius: 50%;
}
.bi {
  font-size: 1.4rem;
  cursor: pointer;
}

/* estilos app */
.app {
  position: relative;
}

/* cabecera o header */
header {
  background-color: #fff;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.14) inset,
    0px 1px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 4rem;
  padding: 0px 1rem 0px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.miLogo,
.header-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.header-info {
  justify-content: flex-end;
}

.header-busqueda {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 76%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.4rem;
  background-color: rgba(244, 242, 242, 0.611);
}

.contenedorIconos .bi {
  margin-right: 1.4rem;
}
h1 {
  font-family: "Rubik Dirt", cursive;
}

/* main o cuerpo principal */

.mainBoard {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* card lista */
.miLista {
  width: 22rem;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.nuevaLista {
  width: 22rem;
  height: 4rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.824);
  border-radius: 0.4rem;
  display: grid;
  place-content: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.miLista input {
  width: 98%;
  border: none;
}

.nombreTarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.contenidoTarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  
}

.contenedor-input {
  display: flex;
  gap: 0.8rem;
}

.contenidoTarea * input {
  width: 8%;
  height: 1rem;
}


/* modal */
.mostrarModal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #17220aac;
  display: none;
  justify-content: center;
  align-items: center;
}

.datosTarea{
  width: 36rem;
  background-color: #edede3;
  height: 28rem;
  padding: 1rem;
  border-radius: .4rem;
}

.contenedorIconos{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(76, 135, 18);
}

.inputUpdate{
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
}
textarea{
  width: 100%;
  height: 15rem;
  margin-top: 1rem;
  border: none;
  padding-top: 1rem;
}

.btnActualizar{
  border: none;
  padding: 1.2rem;
  margin-top: 1rem;
  border-radius: .2rem;
  background-color: #f45a3f;
  color: rgb(229, 226, 226);
  display: inline-block;
}